html { font-size: 62.5%}
    body {
        background: #128fff;
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: 'Poppins', sans-serif;
    }
    
    .settings-svg {
        margin: 30px;
    }
    
    .settings-svg :hover img {
        animation: bounce 0.4s linear;
    }
    /*Removing inline css*/    
    .settings-svg  img{
        height :25 ;
         width: 25;
        
    }

    form {text-align: center;}


    .box-model {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 10%;
        text-align: center;

    }
    
   
    .right  {
        margin: 3rem auto auto 90%;
        
    }

    .active {
        width: 30%;
        margin-left: 0;
        text-align: center;
    }

    .logo img {
        width: 20%;
        height: auto;
        margin: 0 40%;
        position: relative;
        bottom: 1.5rem;
    }
    
    .lists label {
        font-size: 1.2rem;
        color: #ffffff;
    }
    
    .heading label {
        font-size: 1rem;
        color: #ffffff;
    }
    
    .lists {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .footer {
        color: #ffffff;
    }
    
    .location {
        padding: 20px;
        position: absolute;
        transform: translate(-0%, -100%);
        margin-left: 50px;
    }
    
    .back {
        margin-left: 100%;
        transform: translate(-0%, -100%);
        margin-top: -30px;
    }
    
    input[type=text] {
        background-color: transparent;
        border: transparent;
        border-bottom: 3px solid #ffffff;
        color: #ffffff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 5px;
        width: 60%;
        height: 6vh;
    }
    @media only screen and (max-width: 800px) {
    input[type=text] {
            
            padding: 15px 32px;
            font-size: 15px;
            margin: 5px;
            width: 80%;
            height: 6vh;
        }
    }
    .bounce{
      height: 35px;
      width: 35px;

    }
    
    .lists :hover img {
        animation: bounce 0.4s linear;
    }
    
    @keyframes bounce {
        40% {
            transform: scale(1.4);
        }
        60% {
            transform: scale(0.8);
        }
        80% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    
    input[type=submit] {
        border: 0;
        display: block;
        height: 25px;
        width: 25px;
    }
    
     ::placeholder {
        color: whitesmoke;
        opacity: 0.6;
    }
    
    .file-input {
        display: inline-block;
        text-align: left;
        background: #fff;
        padding: 16px;
        width: 350px;
        position: relative;
        border-radius: 3px;
    }
    
    .file-input>[type='file'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 80%;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
    }
    
    .file-input>.button {
        display: inline-block;
        cursor: pointer;
        background: #eee;
        padding: 8px 16px;
        border-radius: 2px;
        margin-right: 8px;
    }
    
    .file-input:hover>.button {
        background: #128fff;
        ;
        color: white;
    }
    
    .file-input>.label {
        color: #333;
        white-space: nowrap;
        opacity: .3;
    }
    
    .file-input.-chosen>.label {
        opacity: 1;
    }
/*Footer  -------------------------------*/
    #footer-align {
        margin: 0 auto;        
    }
    @media only screen and (max-width: 400px) {

    }


    #footer-align h6 {
              font-size: 1.3rem;
    }
    @media only screen and (max-width: 800px) {
    #footer-align h6 {
              font-size: 1.3rem;
    }
    }
    #footer-align img {
        margin-left: 18%;
    }
/*Footer  -------------------------------*/